
/*join*/


.join-title {
    color: $light-color;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .join {
    display: flex;
    width: 206px;
    justify-content: space-between;
  
       .social-link {
        fill: $light-color;
        background-color: $background-icon;
        }
  
       .social-link:hover,
       .social-link:focus {
        fill: $light-color;
        background-color: $accent-color;
       }
  }
  