
/*team-member*/

 .position {
    padding: 30px 30px;
  
          .team-member {
            margin-top: 0;
            margin-bottom: 10px;
            color: $title-text-color;
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
          }
  
          .profession-title {
            margin-top: 0;
            margin-bottom: 0;
            color: $main-text-color;
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.03em;
          }
  }
  
  
  